.navbar {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.profileImage {
  position: absolute;
  top: 10px;
  left: 10px;
  display: inline-flex;
  /* border */
}

.profileImage img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  object-fit: cover;
  border: 1px solid #fff;
}

.profileImage p {
  color: #b4b0b0;
  padding-left: 18px;
  font-size: 1rem;
}

.links {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  align-items: center;
}

.links a {
  color: #8ea6bb;
  font-weight: 500;
}

.links a:hover {
  color: var(--white);
  transition: all 0.4s;
}

.links .active {
  color: var(--white) !important;
  transition: all 0.4s;
}

.gradient {
  position: absolute;
  width: 800px;
  height: 150px;
  margin: auto;
  background: var(--blue);
  filter: blur(100px);
  z-index: -1;
  top: -120px;
}
